<form action="/products" method="POST" enctype="multipart/form-data">
    <h1>Products Page</h1>
    <% products.forEach((product) => { %>
        <div>
          <div>
            <%= product.img %>
            <img src="../uploads/<%= product.img %>">
            <h3><%= product.name %></h3>
            <p>Price = <%= product.price %>BD</p>
            <p><%= product.desc %></p>
            <button onclick="addToCart('<%= product._id %>')">Add to Cart</button>
          </div>
        </div>
      <% }) %>
    </div>

    
    <!-- <script>
    function addToCart(productId) {
        console.log(productId)

    fetch('/cart', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId }) // Send productId instead of productsId
        
    })
    console.log(productId)
    .then(response => {
        if (response.ok) {
        alert('Item added to cart');
        } else {
        console.error('Failed to add item to cart.');
        }
    })
    .catch(error => {
        console.error(error);
    });
    }
      </script> -->
</form>