<form method="POST"  action="/cart">
<h1>Cart</h1>

<% if (cartItems.length === 0) { %>
  <p>Your cart is empty.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% cartItems.forEach(cartItem => { %>
        <tr>
          <td><%= cartItem.name %>hello</td>
          <td><%= cartItem.price %>1200</td>
          <td><%= cartItem.quantity %>100</td>
          <td>
            <button onclick="updateQuantity('<%= cartItem._id %>', '<%= cartItem.quantity + 1 %>')">Increase Quantity</button>
            <button onclick="removecartItem('<%= cartItem._id %>')">Remove cartItem</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>


<script>
    function updateQuantity(cartItemId, newQuantity) {
      fetch(`/cart/${cartItemId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quantity: newQuantity })
      })
      .then(response => {
        if (response.ok) {
          location.reload(); // Refresh the page to update the quantity
        } else {
          console.error('Failed to update quantity.');
        }
      })
      .catch(error => {
        console.error(error);
      });
    }
  
    function removecartItem(cartItemId) {
      fetch(`/cart/${cartItemId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          location.reload(); // Refresh the page to remove the cartItem
        } else {
          console.error('Failed to remove cartItem.');
        }
      })
      .catch(error => {
        console.error(error);
      });
    }
  </script>
  </form>